* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    transition: 0.2s;
}

body {
    background-image: url(luzes.jpg);
}

button {
    background-color:rgb(243, 234, 234);
    width: 110px;
    border-radius: 10px;
}

a {
    color: black;

    font-size: 15px;
    font-weight: bold;
}

section {
    padding: 5px;
    margin: 0 auto;
    max-width: 1200px;
}
p {
    color: white;
    text-indent: 20px;
    text-align: justify;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom:rgb(36, 121, 240) ;
    background-color:rgb(185, 197, 214);

}

.header section {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.navbar {
    align-content: center;
}

.navbar a {
    font-size: 14px;
    color: rgb(24, 8, 147);
    padding: 10px;
}

.cjc {
    font-size: 30px;
    color: rgb(49, 143, 250);
}
.med {
    font-size: 25px;
    color: red;
}

.navbar a:hover {
    color: red;
}

.home-container section {
    display: flex;
    align-items:center;
    min-height: 50vh;
}

.redes {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}